html, body
{
	height: 100%;
  margin: 0;
}

#root
{
	height: 100%;
}

@font-face {
	font-family: "Verlag";
	src: url(./fonts/Verlag\ Bold.otf);
}

@font-face {
	font-family: "MollyJack";
	src: url(./fonts/Molly\ Jack_Regular.ttf);
}
